@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400');


body {
	padding: 2px;
	border: 2px solid #000;
	font-family: 'Roboto', sans-serif;
}

.site-wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	color: black;
}

h4 {
	color: #285dff;
}

h5 {
	color: #505050;
}

p {
	font-weight: 300;
}

.title {
	text-align: center;
	padding-top: 1.6em;
	padding-bottom: 2em;
}
.title:after {
	content: " ";
	background-image: url(wavy-seperator.svg);
	background-repeat: repeat-x;
	background-size: 84px 13px;
	top: 200px;
	left: 0;
	position: absolute;
	height: 13px;
	width: 70%;
	left: 15%;
}

.description {
	text-align: center;
	width: 60%;
	padding: 4.5em 1em 2em;
	margin: 0 auto;
}

.problemContainer {
	outline: 2px solid #222;
	margin: 5em;
	padding: 2em;
	color: #505050;
	box-shadow: 10px 10px 0px 0px #000;
	-moz-box-shadow: 10px 10px 0px 0px #000;
	-webkit-box-shadow: 10px 10px 0px 0px #000;
}

.answer span{
	font-weight: 400;
	color: #08f19d;
}

button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	border: none;
	font-size: 0.8em;
	background: #fff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	outline: 2px solid #222;
	box-shadow: 6px 6px 0px 0px #000;
	-moz-box-shadow: 6px 6px 0px 0px #000;
	-webkit-box-shadow: 6px 6px 0px 0px #000;
	transition: background 0.3s;
}

button:hover {
	background: #285dff;
	text-decoration: none;
	cursor: pointer; cursor: hand;
}

input {
	box-shadow: none;
	font-size: 0.8em;
	min-width: 12em;
	padding: 10px;
	border: none;
	outline: 2px solid #222;
	transition: outline 0.3s;
	margin-right: 10px;
	}

input:focus {
	outline: 2px solid #285dff;
	padding: 10px;
	font-size: 0.9em;
}

